.cart{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 20px;
    position: sticky;
    top: 0;
}
.cart p{
    font-size: 16px;
}
.btn-clear{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 56px;
    margin: 10px auto;
    background-color: green;
    color: white;
    align-items: center;
}